source https://www.nuget.org/api/v2
storage: none

nuget System.Threading.Tasks.Dataflow 4.8.0

group Tests
source https://www.nuget.org/api/v2
storage: none
nuget FluentAssertions 5.0.0-beta0004 beta
nuget NUnit 3.9.0
nuget NUnit3TestAdapter 3.9.0
